.ThemeExplorer.container {
  max-width: 60%;
  padding-top: 0px;
  margin-top: 0px;
}

.poem-item {
  cursor: pointer;
  color: #0056b3; 
  transition: color 0.2s ease-in-out;
}

.poem-item:hover {
  color: #003580;
  text-decoration: underline;
}

.ThemeExplorer-poem-count {
  color: black;
}

.ThemeExplorer-poem-title {
  color: rgb(13, 65, 168);
}

.ThemeExplorer-theme-name {
  color: black;
}

.ThemeExplorer.container {
  max-width: 550px;
  margin: auto;
  padding-top: 20px;
}

.ThemeExplorer h1 {
  text-align: center;
  margin-top: 0px;
}

.ThemeExplorer form {
  margin-bottom: 20px;
}

.ThemeExplorer-button {
  color: white !important;
  border-color: white !important;
  background-color: transparent !important;
}