.CreateTagForm-poem-title {
  margin-bottom: 15px;
}

p.CreateTagForm-poem-lines {
  margin: 6px;
}

.CreateTagForm-author {
  color: rgb(111, 106, 106);
}

.verticalLineStyle {
  border-right: "1px solid rgb(230, 230, 230)",
};